input {

   file {
		path => "${FILE_DIR}/${AUDIT_FILES}*"
		start_position => "beginning"
		${SINCE_DB}
   }
      file {
	  path => "${FILE_DIR}/${USERS_FILES}*"
	  start_position => "beginning"
	  ${SINCE_DB}
	  type => "users"
   }

}
filter {
    if [message] =~ /^\s*$/ { drop { } } #drop events null rows
	    fingerprint {
		source => "message"
		target => "fingerprint"
		method => "SHA1"
		key => "shuttle $ audit "
		base64encode => true
	}
 if [type] == "audit"{
	mutate {
		gsub => ["message", "^'", ""] # replace ' with ""
	}

	csv {
		separator => ";"
		columns => ["THREAD","SESSION","IP","USER","LANG","ORIGIN","START_DATE","END_DATE","STATUS","ERROR","CALL","REPO","PROJECT","TARGET","PARAMS","DURATION_S","DURATION","fingerprint","CLIENT","FORMATED_START_DATE","FORMATED_END_DATE"]
		remove_field => ["message"]
	}

		if ( "Invalid credentials" in [ERROR] ){ mutate {
				replace => ["SESSION",'null']
				replace => ["USER",'null']
		}}
       if ( "CEST" in [START_DATE]){
		 mutate {
		    gsub => ["START_DATE", "CEST", "+0200"]
		    gsub => ["END_DATE", "CEST", "+0200"]
      }
	  date{                      #Jan 6, 2018 12:50:16 AM CEST	
			match => ["START_DATE","MMM dd, YYYY hh:mm:ss aa Z"]
			target => "START_DATE"
		}
			date{
			match => ["END_DATE","MMM dd, YYYY hh:mm:ss aa Z"]
			target => "END_DATE"
		}
		}
		else {
		date{                      #Jan 6, 2018 12:50:16 AM CET	
			match => ["START_DATE","MMM dd, YYYY hh:mm:ss aa ZZZ"]
			target => "START_DATE"
		}
			date{
			match => ["END_DATE","MMM dd, YYYY hh:mm:ss aa ZZZ"]
			target => "END_DATE"
		}
		 
		}
	mutate {
		replace => ["CLIENT","${STACK_CLIENT}"] 
	}
	ruby {
        code => "event.set('DURATION_S', event.get('END_DATE') - event.get('START_DATE'))"
     }
}
	if [type] == "users"{
	   grok {
			match => ["path", "(?<ADDED_DATE>%{YEAR}-%{MONTHNUM}-%{MONTHDAY}_%{HOUR}-%{MINUTE}-%{SECOND})"]
		}
	   csv {
			separator => ","
			columns => ["USER","ADDED_DATE","COUNT","CLIENT","fingerprint"]
			remove_field => ["message"]
	   }
		date{                      #Jan 6, 2018 12:50:16 AM CET	
			match => ["ADDED_DATE","YYYY-MM-dd_HH-mm-ss"]
			target => "ADDED_DATE"
		}
		mutate {
				replace => ["CLIENT","${STACK_CLIENT}"]
		}
			mutate {
				replace => ["COUNT", 0]
		}
				mutate {
				replace => ["type",'audit']
		}
	  mutate { remove_field => [ "host", "@version" ] }

	}
}
output{
  stdout{codec => rubydebug}
}