input {

   file {
		path => "${FILE_DIR}/${FILE_NAME}*"
		start_position => "beginning"
		${SINCE_DB}
   }

}
filter {
    if [message] =~ /^\s*$/ { drop { } } #drop events null rows
	
	mutate {
		gsub => ["message", "^'", ""] # replace ' with ""
	}
    fingerprint {
		source => "message"
		target => "fingerprint"
		method => "SHA1"
		key => "shuttle $ audit "
		base64encode => true
	}
	csv {
		separator => ";"
		columns => ["THREAD","SESSION","IP","USER","LANG","ORIGIN","START_DATE","END_DATE","STATUS","ERROR","CALL","REPO","PROJECT","TARGET","PARAMS","DURATION_S","DURATION","fingerprint","CLIENT","FORMATED_START_DATE","FORMATED_END_DATE"]
		remove_field => ["message"]
	}

	date{                      #Jan 6, 2018 12:50:16 AM CET	
		match => ["START_DATE","MMM dd, YYYY hh:mm:ss aa ZZZ"]
		target => "START_DATE"
	}
		date{				  #Feb 11, 2018 12:00:20 AM CET fails
		match => ["END_DATE","MMM dd, YYYY hh:mm:ss aa ZZZ"]
		target => "END_DATE"
	}
	mutate {
		replace => ["CLIENT","${STACK_CLIENT}"] # replace ' with ""
	}
	ruby {
        code => "event.set('DURATION_S', event.get('END_DATE') - event.get('START_DATE'))"
     }

}
output{
  stdout{codec => rubydebug}
}